<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Demo</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Hello, Sinatra! Test 1</h1>
  <img src="/jelly-beans.jpg" />
  <pre>
    Client IP: <%= request.ip %>
  </pre>
</body>
</html>
